.page-header {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
}

.page-header__logo-link {
  display: block;
  padding: 11px 20px 16px;
}

.page-header__wrapper {
  border-bottom: 1px solid #e6e6e6;
}
