.how-it-works__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  padding-left: 20px;
  margin: 0;
  margin-top: 34px;
}

.how-it-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 42px;
}

.how-it-works__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  padding-right: 20px;
  margin-bottom: 26px;
}

.how-it-works__description {
  margin: 0;
}

.how-it-works__description::before {
  position: absolute;
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  left: 20px;
  top: -5px;
}
