.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  display: block;
  min-width: 320px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.site-list__item a {
  display: block;
  padding: 25px 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #111111;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0;
}

.main-nav__toggle::after {
  position: absolute;
  content: "";
  //display: block;
  width: 24px;
  height: 2px;
  background-color: #222222;
  top: 23px;
  right: 20px;
  box-shadow: 0 8px 0  #222222, 0 16px 0 #222222;
}

.main-nav__wrapper {
  //display: none;
}
