.nutrition__wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
}

.nutrition__title{
  margin: 0;
  padding: 32px 20px 20px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.nutrition__motivation{
  margin: 0;
  margin-bottom: 30px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.nutrition__img{
  display: block;
  margin: 0 auto;
}

.nutrition__program {
  display: block;
  margin: 0 auto;
  margin-top: 3px;
  padding: 14px 0 12px;
  width: 280px;
  outline: none;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;

}
